<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Admin Profile</h1>
    <h1>Name : <%=admin.name%></h1>
    <p>Email : <%=admin.email%></p>

    <br />
    <br />

    <a href="/admin/dashboard">View Dashboard</a>
    <br />
    <br />

    <a href="/admin/logout">Logout</a>
  </body>
</html>
