<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Enter email to get verified</h1>

    <form action="/verifyAgain" method="POST">
      <input
        type="email"
        name="email"
        placeholder="Enter you Email to verify"
        size="50"
      />
      <br />
      <br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
